{% extends 'base.jinja2' %}
{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/utils.html' import render_icon %}
{% from 'macros/component_confirm_modal.jinja2' import confirmModalMacro, confirmModalScript %}


{% block header %}
<h1>{% block title %}Show {{ entity_name }}{% endblock %}</h1>
{% endblock %}

{% block content %}

<h2> Detalhes sobre: <i>{{entity.title}}</i> </h2>
<ul id="details">
    <li> Id do Exame: {{ entity.id }}</li>
    <li> Avaliação: {{entity.rating}}</li>
    <li> Criado em: {{entity.created_at}}</li>
    <li> Atualizado em: {{entity.updated_at}}</li>
</ul>


<h2> Descrição: </h2>
<h4>Enunciado: </h4>
<p>{{ entity.title }}</p>
<h4>Alternativas (json): </h4>
<p>{{ entity.json_alternatives }} </p>

<h4>Alternativas (dict):</h4>
<p>
    {% for key, value in alternatives|dictsort(true) %}
    <ol>
        ( {{ key }} ) {{ value }}
    </ol>
    {% endfor %}
</p>




<h4>Respostas: </h4>
{% if entity.type_of == 1 %}

<p> Item correto:
</p>
<p>
    {{ entity.answer }}ª alternativa: 
    {% for i in alternatives %}
    {% if loop.index == entity.answer %}
    <b>{{ alternatives[i] }}</b>
    {% endif %}
    {% endfor %}
</p>
{% endif %}

{% if entity.type_of == 2 %}
<p> 
    {% for i in alternatives %}
    {% if 0 == entity.answer %}
    <b>Falso</b>
    {% elif 1 == entity.answer %}
    <b>Verdadeiro</b>
    {% else %}
    <b>Erro</b>
    {% endif %}
    {% endfor %}
    {% endif %}
</p>




<h3><p></p>...</h3>
<h3><p></p>Mais... : </h3>

<h5>Alternativas (dict):</h5>
<dl>
    {% for key, value in alternatives|items %}
        <dt>{{ key }}
        <dd>{{ value }}
    {% endfor %}
    </dl>

<p>{% for i in alternatives %}</p>
<p>{{ i, alternatives[i]  }}</p>
<p>{% endfor %}</p>

<h6>Another counter:</h6>
<p>
    {% for number in range(1, (alternatives|count)+1) %}
    <li class="answer"><span>...{{number}}</span></li>
    {% if number == entity.answer %}
    <li class="answer"><span>answer...{{entity.answer}}</span></li>
    <li>number: {{number}}</li>
    {% endif %} 
    {% endfor %}
</p>
    
    








<div class="btn-group" role="group">
    <a href="{{ url_for('questions.index') }}" class="btn btn-primary">Voltar para a lista</a>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('questions.edit', id=entity.id) }}" class="btn btn-secondary">Editar    </a>
    <a href="#" class="clickForActionToConfirm btn btn-danger" entity-id="{{entity.id}}" data-bs-toggle="modal"
        data-bs-target="#modalConfirm" data-entity-reference="{{entity.title}}"
        data-action="{{url_for('questions.destroy', id=entity.id)}}" data-action-text="Deletar">
        {{render_icon('x-circle') }} Deletar
    </a>
    {% endif %}
</div>

{{ confirmModalMacro() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- The contents of myscript.js will be loaded inside the script tag -->
{{ confirmModalScript() }}
{% endblock %}