{% extends 'base.jinja2' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block header %}
<h1>{% block title %}New{% endblock %}</h1>
{% endblock %}

{% block content %}
{{ render_form(form, action=url_for('exams.create')) }}         {# This is the line that renders the form #}
{% endblock %}


{% block footer %}
{{ super() }}

{% endblock %}
