{% extends "base.jinja2" %}
{% block title %}{{ super() }}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #1bd8d8;
    }
</style>
{% endblock %}
{% block content %}

<p class="important text-center">
    <!--teste-->
</p>   
    
    <h1>
        Seja Bem Vindo(a), {{ current_user.name }}!!!    
    </h1>

    <h2>
        Esse é o SiPro:
        <p>
        Sistema para Realização de Provas</p>
    </h2>

    {% if current_user.is_authenticated and not current_user.is_student %}

  <p>
    *essa parte deve ser alterada para que o usuário possa ver os exames que ele está vinculado
            e outras funcionalidades
        </p>

        <h4>
            <a href="{{ url_for('exams.new') }}">Registrar Exame</a>
        </h4>
        
    <h4>
        <a href="{{ url_for('exams_mounted.new') }}">Montar exame</a>
    </h4>
    <h4>
            
        
        <a href="{{ url_for('questions.new') }}">Adicionar questões</a>
    </h4>
    {% endif %}
    {%if current_user.is_authenticated %}
    <h4>
        <a href="{{ url_for('exams_mounted.index') }}">Provas disponíveis</a>
    </h4>
    {%endif%}
    
    {% endblock %}

    {% block scripts %}
    {{ super() }}
    <!-- The contents of myscript.js will be loaded inside the script tag -->
    
    {% endblock %}